

:root {
    --background-color: #f7f7f7;
    --font-color: #3f3f44;
   
}

* {
    box-sizing: border-box;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    color: var(--font-color);
  
}

h1 {
  text-align: center;
    text-transform: capitalize;
    margin:auto;

}

hr{
    margin-top: 7rem;
    margin-bottom: 5rem;
    background-color: var(--border-color);
}


.page-title {
  margin-top: 3.5rem;
}



.pokemon-ul {
    
    text-align: center;
}


svg {
  width: 50px;
  height: 50px;
}

.navbar {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
 

}


.container {
  text-align: center;
  margin: auto;
  margin-left: 20rem;
}

.navbar-title {
  font-size: 30px;
}

.row {
  margin-top: 8.5rem;
}

.credit {
  font-size: small;
}
 
button {
    text-transform: capitalize;
  } 
  
  

  .modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  